@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Thasadith:ital@1&display=swap');


h1 {
    font-family: 'Ephesis', cursive;
    text-align: center;
    color: floralwhite;
    font-size: 4em;
    margin: auto;
    max-width: 70%;


}
 
header{
    position: absolute;
    top: 5%;
    width: 100%;

}

p {
    font-family: 'Thasadith', sans-serif;
    font-size: 1.5em;

}



.subtitulos{
    
    padding: 5px; 
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
}

.container {
    background: rgba(0, 0, 0, 0.66);
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index:10;
}


body, h1, .subtitulos, p, article, header{
    color: antiquewhite;
    background: rgba(0, 0, 0, 0.0);

}

#nosotros {
    position: absolute;
    top: 20%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 5em;
}

#historia {
    position: absolute;
    top: 120%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 5em;
}



.item {
    
    width: 33%;
    display: inline-flex;
    font-family:  Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    justify-content: center;
    background-color: lightgray;
    

}

iframe {
    width: 400px;
    height: 250px;
}


.videotortas {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: -100;
}

.ubicacion {
    display: grid;
    position: absolute;
    top: 220%;
    bottom: 25%;
    left: 25%;
    
    
    
}
.ubicacion1 {
    background: rgba(0, 0, 0, 0.5);
    grid-column: 2/3;
    grid-row: 1/3;
}
 .ubicacion2{
     grid-column: 3/4;
     grid-row: 1/3;
 }

footer {
    position: absolute;
    bottom: 0;
    top: 300%;

}

@media (min-width: 1024px){

    *{
        
    }
}

@media (max-width: 1023px) and (min-width: 768px){

    .ubicacion{
        left: 0;
    }

    #nosotros{
        top: 30%;
    }

    #historia{
        top: 90%;
    }

    .ubicacion{
        top: 150%;
    }
}



@media (min-width: 320px) and (max-width: 767px){


    * {
        background-color: aliceblue;

    }

    p{
        font-size: medium;
    }

    iframe{
        max-width: 90%;
    }

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        
    }

    .item{
        margin: 2px 1px 2px 2px;
    }

    .ubicacion{
        display:flex;
        flex-direction:column;
        max-width: 70%;
    }

    header{
        z-index: 100;
        font-size: 0.7em;
        position: absolute;
        top: 20%;

    }

    article{
        
    }

    
}