@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


h1 {
    font-family: 'Ephesis', cursive;
    text-align: center;
    color: rosybrown;
    

}


body{

    background-color: aquamarine;

}
