@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Thasadith:ital@1&display=swap');


h1 {
    font-family: 'Ephesis', cursive;
    text-align: center;
    color: rosybrown;
    font-size: 3.5em;
    margin: auto;
    border: 2px solid blue;
    max-width: 70%;


}


body{

    background-color: aquamarine;

}

p {
    font-family: 'Thasadith', sans-serif;
    font-size: 1.5em;

}


.subtitulos{
    
    padding: 5px; 
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
}

.container {
    background: steelblue;
    display: flex;
    padding: 0.5em;
    justify-content: space-between;

}

.item {
    background: grey;
    width: 33%;
    display: inline-flex;
    font-family: Arial;
    font-size: 1.5em;
    justify-content: center;
    

}



@media (max-width: 1023px) and (min-width: 768px){
    *{
        background-color: lightgreen;
    }

}

@media (min-width: 1024px){

    *{
        background-color: lightgrey;
    }
}


@media (min-width: 320px) and (max-width: 767px){


    *{
        background-color: aliceblue;
        
    }

    iframe{
        max-width: 90%;
    }

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .item{
        margin: 2px 1px 2px 2px;
    }
}